.sidebar-container {
  width: 20%;
  min-width: 250px;
  height: 100vh;
  position: relative;
  transition: width 0.2s ease-in-out;

  background-color: white;
  display: flex;
  flex-direction: row;
}

.sidebar-container.collapsed {
  width: 1px;
  min-width: 1px;
}

.collapse-btn {
  position: absolute;
  top: 2rem;
  right: -30px;
  z-index: 100;
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 20%;
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  
}

.collapse-btn:hover {
  transform: scale(1.1);
}
